/* DETAILS SECTION */

              .details-section {
                padding: 64px 0;
                
              }

              .details-section h1{
                text-align: center;
                font-weight: bold;
              }

               /* upper */
               .details-section .upper{
                margin-top: 48px;
                display: flex;
                align-items: flex-start;
            }
            
            .details-section .upper img{
                margin-right: 32px;
                height: 500px;
                object-fit: cover;
                object-position: center;
            
                flex: 2;
            }
            
            .details-section .upper .upper-info{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
            
            .details-section .upper .upper-info b{
                margin-bottom: 16px;
            }
            
            .details-section .upper .upper-info b:last-child{
                margin: 100px 0;
            }
            
            .details-section .upper .upper-info span{
                margin-bottom: 8px;
                font-size: 14px;
                display: inline-flex;
                align-items: center;
            }
            
            .details-section .upper .upper-info span i{
                font-size: 18px;
                margin-right: 8px;
            }
            
            .details-section .upper .upper-info > div{
            
                width: 100px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                
            }
            
            .details-section .upper .upper-info > div > span{
                margin-right: 12px;
                margin-bottom: 12px;
                
            }
            
            .details-section .upper .upper-info .tech{
                margin-top: 18px;
            }
             
                                 /* lower */
            
            .details-section .lower{
                margin-top: 64px;
                word-break: break-all;
            }
            